/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Nanum Gothic', sans-serif;
}


/* ---- typography ---- */


/* ---- layout ---- */

/* ---- header ---- */

.nav-bar {
  position: fixed;
  width: 100%;
  height: 61px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}

.nav-links-container ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-links-container ul li {
  list-style: none;
}

.nav-links-container ul li:not(:first-child) {
  margin-left: 1rem;
}

.nav-links-container ul li a {
  text-decoration: none;
  color: black;
}

.nav-links-container ul li a:hover {
  color: darkmagenta;
}

/* ---- footer ---- */

footer {
  background-color: rgb(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-container a {
  font-size: 1rem;
  margin-left: 1rem;
  color: black;
}

.logo-image-container {
  width: 1rem;
  height: 1rem;
}

/* ---- components ---- */

.section {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}


.first-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 25% auto 25%;
  background-color: white;
}

.second-section {
  background-color:;
}

.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f5f7;
}

.section-div {
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 80%;
  justify-self: center;
  display: flex;
  flex-direction: column;
}
.section1-image{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url("assets/images/170217-exoskeleton-mn-1810_4dd2c55b55e6a2f68a53ba767777cf04.fit-2000w.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  text-decoration: none;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #832561;
  color: white;
  width: 40%;
}

.button:hover {
  background-color: grey;
}

/* ---- css shame ---- */

.login-back-up {
  width:100%;
  height: 66%;
  background-color: #00A1FF;
  background-image: url("assets/images/turin landscape.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-back-down {
  width:100%;
  height:34%;
  background-color: #ffffff;
}

.article {
  height: 0px;
}

.container-card {
  height: 0px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  flex-direction: row;
}
.login-back-up, .login-back-down{
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.card-wrapper{
  width: 80vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card{
	width: 458px;
 height: 270px;
  background-color: grey;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.card:last-child {
  margin-left: 4rem;
}

.card-image{ 
  position: relative;
  background-position: center; 
}

.card-text{
  max-width: 100%;
  padding: 1vh;
  text-align: center; 
}

.input-form {
  width: 50%;
  margin-left: 5rem;
}

.input-form input {
  width: 100%;
  padding: 1rem;
}

h1 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 66px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #505d68;
}

h4 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #a1aeb7;
}

h2 {
  width: 231px;
  height: 57px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-block-start: 0;
  margin-block-end: 15rem;
}

.nav-logo-container img {
  height: auto;
  max-height: 100%;
}

.button-blue {
  background-color: #004d73;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer {
  font-size: 1.3rem;
}